xml-resources/jaxb/Historicals/historicals.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="historicals">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="historical">
          <xs:complexType>
            <xs:sequence>
            <xs:element name="sudoku" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="problem"/>
                  <xs:element type="xs:string" name="solved"/>
                </xs:sequence>
                <xs:attribute type="xs:string" name="level" use="required"/>
                <xs:attribute type="xs:string" name="description" use="required"/>
              </xs:complexType>
            </xs:element>
            <xs:element name="user" maxOccurs="unbounded" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element type="xs:string" name="name"/>
                  <xs:element type="xs:string" name="username"/>
                  <xs:element type="xs:string" name="password"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="time" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
